# don't track stuff connected with build or Visual Studio

**/Debug/
**/Debug/**
**/x64/
**/x64/**

**/*.obj
**/*.*log
**/*.pdb
**/*.idb
**/*.pch
**/*.lastbuildstate
**/*.ilk
**/*.exe


**/.vs/
**/.vs/**

**/*.ipch
**/*.suo
**/*.db
